extends layout

block content
  h1= title
  p Welcome to #{title}


  each message in messages
    section(class="card")
      div(class="card-text") 
        span(class="text") #{message.text}
      div(class="card-author")
        span(class="text") #{message.user} at #{message.added}
  
  a(href="/new")
   button(type="submit") Add new message!
